@font-face {
  font-family: "HankenGrotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

*{
  margin: 0;
  padding: 0;
}


body {
  font-family: "HankenGrotesk";
}

p {
  font-size: 18px;
}

main{
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.container {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 10px 10px 50px hsla(241, 81%, 54%, 0.1);
  border-radius: 5%;
  /* border: 2px solid lightblue; */
}

.left-section {
  box-sizing: border-box;
  width: 280px;
  padding: 30px 50px;
  text-align: center;
  /* border: 2px solid black; */
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 5%;
}

.left-section h3 {
  margin-bottom: 20px;
  color: hsl(241, 100%, 89%);
}


.circle {
  box-sizing: border-box;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 25px auto;
  padding: 30px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.real-value {
  color: hsl(0, 0%, 100%);
  font-size: 52px;
  font-weight: 700;
  margin-bottom: -5px;
}

.max-value {
  color: hsla(241, 100%, 89%, 0.5);
  font-size: 14px;
}

.left-section h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
} 

.description {
  font-size: 14px;
  color: hsla(241, 100%, 89%, 0.8);
}



.right-section {
  box-sizing: border-box;
  width: 280px;
  padding: 30px 40px;
  /* border: 2px solid red; */
}

.right-section h3 {
  margin-bottom: 20px;
}

.list-item p {
  font-size: 14px;
}

.item {
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin-top: 15px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  height: 40px;
  padding: 10px;
  border-radius: 10px  ;
  font-weight: 700;
}


.icon-text {
  display: flex;
  align-items: center;
  /* border: 1px solid gray; */
}

.item img {
  margin-right: 5px;
  width: 15px;
}

.percentage {
  text-align: center;
  color: hsla(224, 30%, 27%, 0.5);
}

.percentage span {
  color: hsla(224, 30%, 27%, 1);
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

.button {
  margin-top: 30px;
  background-color: hsl(224, 30%, 27%);
  justify-content: center;
  border-radius: 25px;
}

.button button {
  background-color: transparent;
  border: none;
  color:hsl(0, 0%, 100%) ;
}

@media screen and (max-width: 575px) {
  .left-section, .right-section {
    width: 100%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .description, .list-item p {
    font-size: 16px;
  }

  .item {
    height: 50px;
  }
}